### Import Libraries

In [54]:
#import libraries
import pandas as pd

### Data Set Import

In [55]:
#import data sets and save them as dataframes using pandas
housing = pd.read_csv("../data/ACSDP1Y2019.DP04_data_with_overlays_2020-09-17T112419.csv")
main_dataset = pd.read_csv("../data/covid_large.csv")

### Data Set Manipulation

In [56]:
#remove unused columns
housing_2 = housing[['NAME', 'DP04_0046E', 'DP04_0047E', 'DP04_0048E', 'DP04_0049E']]

#remove unused row to facilitate merge
housing_3 = housing_2.drop([0])

#remane column names
housing_3.rename(columns = {'NAME':'County Name'}, inplace = True)
housing_3.rename(columns = {'DP04_0046E':'Owner-Occupied Unit'}, inplace = True)
housing_3.rename(columns = {'DP04_0047E':'Renter-Occupied Unit'}, inplace = True)
housing_3.rename(columns = {'DP04_0048E':'Average Household Size of Owner-Occupied Unit'}, inplace = True)
housing_3.rename(columns = {'DP04_0049E':'Average Household Size of Renter-Occupied Unit'}, inplace = True)

#make country name lowercase and remove state name after comma
housing_3['County Name'] = housing_3['County Name'].apply(lambda cn: cn.lower().strip())
housing_3['County Name'] = housing_3['County Name'].apply(lambda cn: cn.split(",")[0])

### Merge Data Sets and Display

In [53]:
#merge covid-19 data set and housing data set
new_dataset = pd.merge(main_dataset, housing_3)

#display merged data set
new_dataset

,State,countyFIPS,County Name,Date,Num of Cases,Num of Deaths,population,Owner-Occupied Unit,Renter-Occupied Unit,Average Household Size of Owner-Occupied Unit,Average Household Size of Renter-Occupied Unit
0,AL,1003,baldwin county,2020-01-22,0,0,223234,65297,17028,2.74,2.43
1,AL,1003,baldwin county,2020-01-23,0,0,223234,65297,17028,2.74,2.43
2,AL,1003,baldwin county,2020-01-24,0,0,223234,65297,17028,2.74,2.43
3,AL,1003,baldwin county,2020-01-25,0,0,223234,65297,17028,2.74,2.43
4,AL,1003,baldwin county,2020-01-26,0,0,223234,65297,17028,2.74,2.43
...,...,...,...,...,...,...,...,...,...,...,...
840160,WY,56025,natrona county,2020-09-10,335,2,79858,23936,9108,2.46,2.13
840161,WY,56025,natrona county,2020-09-11,347,2,79858,23936,9108,2.46,2.13
840162,WY,56025,natrona county,2020-09-12,356,2,79858,23936,9108,2.46,2.13
840163,WY,56025,natrona county,2020-09-13,368,2,79858,23936,9108,2.46,2.13
840164,WY,56025,natrona county,2020-09-14,372,2,79858,23936,9108,2.46,2.13