# Housing Dataset

### Import Libraries

In [17]:
#import libraries
import pandas as pd

### Import Dataset

In [18]:
#import datasets and save them as dataframes using pandas
housing = pd.read_csv("../data/ACSDP1Y2019.DP04_data_with_overlays_2020-09-17T112419.csv")
main_dataset = pd.read_csv("../data/covid_large.csv")

### Dataset Manipulation

In [19]:
#display original dataset
housing.head()

,GEO_ID,NAME,DP04_0001E,DP04_0001M,DP04_0001PE,DP04_0001PM,DP04_0002E,DP04_0002M,DP04_0002PE,DP04_0002PM,...,DP04_0141PE,DP04_0141PM,DP04_0142E,DP04_0142M,DP04_0142PE,DP04_0142PM,DP04_0143E,DP04_0143M,DP04_0143PE,DP04_0143PM
0,id,Geographic Area Name,Estimate!!HOUSING OCCUPANCY!!Total housing units,Margin of Error!!HOUSING OCCUPANCY!!Total hous...,Percent!!HOUSING OCCUPANCY!!Total housing units,Percent Margin of Error!!HOUSING OCCUPANCY!!To...,Estimate!!HOUSING OCCUPANCY!!Total housing uni...,Margin of Error!!HOUSING OCCUPANCY!!Total hous...,Percent!!HOUSING OCCUPANCY!!Total housing unit...,Percent Margin of Error!!HOUSING OCCUPANCY!!To...,...,Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHO...,Percent Margin of Error!!GROSS RENT AS A PERCE...,Estimate!!GROSS RENT AS A PERCENTAGE OF HOUSEH...,Margin of Error!!GROSS RENT AS A PERCENTAGE OF...,Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHO...,Percent Margin of Error!!GROSS RENT AS A PERCE...,Estimate!!GROSS RENT AS A PERCENTAGE OF HOUSEH...,Margin of Error!!GROSS RENT AS A PERCENTAGE OF...,Percent!!GROSS RENT AS A PERCENTAGE OF HOUSEHO...,Percent Margin of Error!!GROSS RENT AS A PERCE...
1,0500000US01003,"Baldwin County, Alabama",119425,483,119425,(X),82325,3231,68.9,2.7,...,8.2,4.5,6003,1790,41.7,10.0,2648,1235,(X),(X)
2,0500000US01015,"Calhoun County, Alabama",53809,404,53809,(X),44636,2010,83.0,3.7,...,8.4,5.2,4659,1199,38.6,8.6,1074,642,(X),(X)
3,0500000US01043,"Cullman County, Alabama",38256,332,38256,(X),32090,1233,83.9,3.2,...,8.0,5.7,1839,569,25.5,7.6,575,279,(X),(X)
4,0500000US01049,"DeKalb County, Alabama",31606,256,31606,(X),24880,1347,78.7,4.1,...,22.6,10.7,1292,711,22.7,10.4,1392,635,(X),(X)

In [20]:
#remove unused columns
housing = housing[['NAME', 'DP04_0046E', 'DP04_0047E', 'DP04_0048E', 'DP04_0049E', 'DP04_0058E']]
housing

,NAME,DP04_0046E,DP04_0047E,DP04_0048E,DP04_0049E,DP04_0058E
0,Geographic Area Name,Estimate!!HOUSING TENURE!!Occupied housing uni...,Estimate!!HOUSING TENURE!!Occupied housing uni...,Estimate!!HOUSING TENURE!!Occupied housing uni...,Estimate!!HOUSING TENURE!!Occupied housing uni...,Estimate!!VEHICLES AVAILABLE!!Occupied housing...
1,"Baldwin County, Alabama",65297,17028,2.74,2.43,2248
2,"Calhoun County, Alabama",31479,13157,2.46,2.53,2617
3,"Cullman County, Alabama",24314,7776,2.56,2.61,579
4,"DeKalb County, Alabama",17793,7087,2.88,2.72,1225
...,...,...,...,...,...,...
836,"Ponce Municipio, Puerto Rico",35701,17136,2.43,2.41,9900
837,"San Juan Municipio, Puerto Rico",77123,61677,2.31,2.14,32084
838,"Toa Alta Municipio, Puerto Rico",19512,3138,3.17,3.11,1656
839,"Toa Baja Municipio, Puerto Rico",20717,7574,2.68,2.42,2529
840,"Trujillo Alto Municipio, Puerto Rico",16271,6992,2.77,2.55,3045

In [21]:
#remove unused row to facilitate merge
housing = housing.drop([0])
housing.head()

,NAME,DP04_0046E,DP04_0047E,DP04_0048E,DP04_0049E,DP04_0058E
1,"Baldwin County, Alabama",65297,17028,2.74,2.43,2248
2,"Calhoun County, Alabama",31479,13157,2.46,2.53,2617
3,"Cullman County, Alabama",24314,7776,2.56,2.61,579
4,"DeKalb County, Alabama",17793,7087,2.88,2.72,1225
5,"Elmore County, Alabama",22863,7849,2.66,2.02,1646

In [22]:
#remane column names
housing.rename(columns = {'NAME':'County Name'}, inplace = True)
housing.rename(columns = {'DP04_0046E':'Owner-Occupied Unit'}, inplace = True)
housing.rename(columns = {'DP04_0047E':'Renter-Occupied Unit'}, inplace = True)
housing.rename(columns = {'DP04_0048E':'Average Household Size of Owner-Occupied Unit'}, inplace = True)
housing.rename(columns = {'DP04_0049E':'Average Household Size of Renter-Occupied Unit'}, inplace = True)
housing.rename(columns = {'DP04_0058E':'No Vehicles Available'}, inplace = True)
housing.head()

,County Name,Owner-Occupied Unit,Renter-Occupied Unit,Average Household Size of Owner-Occupied Unit,Average Household Size of Renter-Occupied Unit,No Vehicles Available
1,"Baldwin County, Alabama",65297,17028,2.74,2.43,2248
2,"Calhoun County, Alabama",31479,13157,2.46,2.53,2617
3,"Cullman County, Alabama",24314,7776,2.56,2.61,579
4,"DeKalb County, Alabama",17793,7087,2.88,2.72,1225
5,"Elmore County, Alabama",22863,7849,2.66,2.02,1646

In [23]:
#make country name lowercase and remove state name after comma
housing['County Name'] = housing['County Name'].apply(lambda cn: cn.lower().strip())
housing['County Name'] = housing['County Name'].apply(lambda cn: cn.split(",")[0])
housing.head()

,County Name,Owner-Occupied Unit,Renter-Occupied Unit,Average Household Size of Owner-Occupied Unit,Average Household Size of Renter-Occupied Unit,No Vehicles Available
1,baldwin county,65297,17028,2.74,2.43,2248
2,calhoun county,31479,13157,2.46,2.53,2617
3,cullman county,24314,7776,2.56,2.61,579
4,dekalb county,17793,7087,2.88,2.72,1225
5,elmore county,22863,7849,2.66,2.02,1646

### Merge Datasets

In [25]:
#merge covid-19 dataset and housing dataset
merged_dataset = pd.merge(main_dataset, housing)

#display merged dataset
merged_dataset

,State,countyFIPS,County Name,Date,Num of Cases,Num of Deaths,population,Owner-Occupied Unit,Renter-Occupied Unit,Average Household Size of Owner-Occupied Unit,Average Household Size of Renter-Occupied Unit,No Vehicles Available
0,AL,1003,baldwin county,2020-01-22,0,0,223234,65297,17028,2.74,2.43,2248
1,AL,1003,baldwin county,2020-01-23,0,0,223234,65297,17028,2.74,2.43,2248
2,AL,1003,baldwin county,2020-01-24,0,0,223234,65297,17028,2.74,2.43,2248
3,AL,1003,baldwin county,2020-01-25,0,0,223234,65297,17028,2.74,2.43,2248
4,AL,1003,baldwin county,2020-01-26,0,0,223234,65297,17028,2.74,2.43,2248
...,...,...,...,...,...,...,...,...,...,...,...,...
840160,WY,56025,natrona county,2020-09-10,335,2,79858,23936,9108,2.46,2.13,1354
840161,WY,56025,natrona county,2020-09-11,347,2,79858,23936,9108,2.46,2.13,1354
840162,WY,56025,natrona county,2020-09-12,356,2,79858,23936,9108,2.46,2.13,1354
840163,WY,56025,natrona county,2020-09-13,368,2,79858,23936,9108,2.46,2.13,1354
840164,WY,56025,natrona county,2020-09-14,372,2,79858,23936,9108,2.46,2.13,1354

## Exporting to csv

In [26]:
#merged dataset is exported as csv into data file
merged_dataset.to_csv('../data/housing_merge.csv',index=False)

# By: Eric Cortes